/* #region body */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

/* #endregion */

/* #region reset */

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

/* #endregion */

/* #region common */

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

/* #endregion */

/* #region header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.header-logo-text {
  color: #2e2f42;
}

.header-menu {
  display: flex;
  align-items: center;
  width: 261px;
  gap: 40px;
  font-weight: 500;
  color: #2e2f42;
  margin-right: 332px;
  padding: 24px 0;
}

.header-menu-link {
  padding: 24px 0;
}

.header-menu-link {
  display: block;
  font-weight: 500;
  color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion */

/* #region section 1 hero */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
  color: #ffffff;
}
.container.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.hero-button:active {
  background-color: #404bbf;
}

/* #endregion */

/* #region section 2 values */

.values {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.values-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.values-item {
  width: 264px;
}

.values-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* #endregion */

/* #region section 3 team */

.container.team {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-member {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  padding-block: 0px 32px;
  padding-inline: 0px;
  width: 264;
  height: 380px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-name-wrapper {
  padding: 32px 0;
}

.team-position {
  margin-bottom: 8px;
  text-align: center;
}

/* #endregion */

/* #region section4 portfolio */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container.portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-image {
  margin-bottom: 32px;
}

.portfolio-item {
  width: 360px;
  height: 420px;
}

.portfolio-item-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-name,
.portfolio-category {
  margin-left: 8px;
}

/* #endregion */

/* #region footer */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-text {
  color: #f4f4fd;
}

.footer-text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  width: 264px;
}

/* #endregion */

a:active {
  color: #4b5ae5;
  text-decoration: underline;
}
